.MenuSectionCatalog {
    padding: 20px;
    cursor:pointer;
    font-size: 20px;
    margin: 10px;
    border: 5px solid transparent;
    transition: background-color 0.5s ease;
}

.MenuSectionCatalog:hover {
    background-color: #662d91;
    color: white;
    border: 5px solid transparent;
    border-radius: 10px;
}

.ClickedMenuCatalog {
    background-color:  white;
    border: 5px solid #662d91;
    border-radius: 10px;
}